body{
    font-family: arial;
    background: #111;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center ;
    height:100vh;
}

.container{
    width:400px;
    background: #222;
    padding:20px;
    border: radius 10px;

}

.input-area{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    background: #333;
    padding: 10px;
    border-radius: 10px;
}
input{
    flex: 1;
    padding: 10px;;
}

button{
    padding:10px;
    cursor: pointer;
}

li{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    background: #333;
    padding:10px;
}

.completed{
    text-decoration: line-through;
    opacity :0.6;
}