body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

.input-area {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background: #2563eb;
  border: none;
  color: white;
}

.board {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 10px;
}

.column {
  background: #1e293b;
  width: 30%;
  min-height: 400px;
  padding: 10px;
  border-radius: 10px;
}

.list {
  min-height: 300px;
}

.task {
  background: #334155;
  padding: 10px;
  margin: 10px 0;
  cursor: grab;
  border-radius: 5px;
}